@using 宏盈.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <center><h1>好棒棒訂書查詢系統</h1></center>
</div>
<certer>
    <div class="row" style="position:relative;left:350px">

        <button class="btn btn-default" type="button" onclick="javascript:window.location='@Url.Action("Course", "Course")'">進入系統</button>
    </div>
</certer>